#graphic, #graphic2 {
    background-color: rgb(0, 0, 183);
}


#graphic h1 {
    color: white;
}

.seperator {
    margin-inline: auto;
}

#graphic h2 {
    color: white;
    margin: 0;
}

#graphic p {
    color: white;
    line-height: .9;
    margin: 0;
}

.item-box  { 
    width: 100%;
    height: 100%;
    text-align: center;

    border: 1px white solid;
    background-color: black;
    border-radius: 10px;
}


.item-box p {
    margin: 30px;
}