/* 
* {
    border: solid red 1px;
} */

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

section {
    min-height: 80vh;
    overflow-y: hidden;
}

nav {
    position: fixed;

    left: -200px;
    transition: left 0.3s ease; /* TRANSITION FOR SIDEBAR SLIDE IN */
    
    bottom: 10px;
    z-index: 200;
    background-color: white;
}

nav ul {
    all: unset;

    list-style-type: none;
}

nav a {
    color: blue;
}

.scrolled-to {
    font-weight: bold;
}

.second-section {
    overflow-x:hidden;
}

#index {
    background-color: blue;
}

.links h2 {
    color: white;
}

.links a {
    color: wheat;
    text-decoration: none;
}

.links a:hover {
    text-decoration: underline;
    color: pink;
    cursor: pointer;
}

.index-grid {
    display: grid;
    grid-template-columns: 55vw 1fr;
    margin-top: 10vh;
}

.index-grid-item {
    margin: 60px;
}

.logo {
    display: flex;
    justify-content: right;
    align-items: center;
}

.logo svg {
    width: min(100%, 100vw);
    max-width: 700px;
}




@media (max-width: 767px) {
    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .index-grid {
        display: block;
        margin-top: 10vh;
    }

    #petmydog {
        display: none;
    }
}

/*

    SIMON CODE

*/

.dog-zone {
    display: flex;
    justify-content: center;
    align-items: center;
}

.draggable {
    display:flex;
    align-items: center;
    justify-content:center;
    position: absolute;

    user-select: none;

    width: 200px;
    height:200px;
    font-size:2rem;
}

#simon {
    width: 200px;
    height:200px;
    top: 100px;
    left:200px;
}

#petmydog {
    width: min-content;
    color: white;
}

/*
    MARQUEE CODE
*/

.marquee {
    margin: 0px;
    background-color: #ff1493;
    color: white;
    
    --gap: 1rem;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
  }
  
  .marquee-content {
    list-style-type: "★";
    
    margin: 0px;
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    min-width: 100%;
    gap: var(--gap);
    animation: scroll 45s linear -30s infinite;
  }

  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }