body {
    --space: 1rem;
    --space-md: calc(var(--space) * 2);
    --content-max-width: 60ch;

    font-family: sans-serif;
    font-size: 1.2rem;
    line-height: 1.5;
}

.reverse {
    direction: rtl;
}

main {
    margin-block: 6rem;
}

.content {
    --gap: clamp(1rem, 6vw, 3rem);
    --full: minmax(var(--gap), 1fr);
    --content: min(50ch, 100% - var(--gap) * 2);
    --popout: minmax(0, 2rem);
    --feature: minmax(0, 5rem);

    display: grid;
    grid-template-columns:
        [full-start] var(--full)
        [feature-start] var(--feature)
        [popout-start] var(--popout)
        [content-start] var(--content) [content-end]
        var(--popout) [popout-end]
        var(--feature) [feature-end]
        var(--full) [full-end];
}

.content > * {
    grid-column: content;
}

.content > * + * {
    margin-block-start: var(--space);
}


.content > * {
    grid-column: content;
}

.popout {
    grid-column: popout;
}

.feature {
    grid-column: feature;
}

.full {
    grid-column: full;
}
  

.gallery {
    grid-column: full;
    display: grid;
    grid-template-columns: inherit;
    padding-block: var(--space-md);
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    /* scrollbar-width: 5px; */
    scrollbar-width: none;
}

@media only screen and (max-width: 600px) {
    .gallery {
        scrollbar-width: none;
    }
  }



.gallery .wrapper {
    grid-column: content;
    display: flex;
    align-items: center;
    gap: var(--space);
}

.gallery .wrapper::after {
    content: "";
    align-self: stretch;
    padding-inline-end: max(
        var(--space),
        (100vw - var(--content-max-width)) / 2 - var(--space)
    );
}

.gallery .item {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-snap-align: center;
    inline-size: 100%;
    max-inline-size: 25rem;

    font-size: 2rem;

    overflow: hidden;
}

.layout-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery.alt-sizes .item.lg {
    max-inline-size: 35rem;
}

.gallery.alt-sizes .item.sm {
    max-inline-size: 15rem;
}

/* .gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
} */
