/* 
* {
    border: solid red 1px;
} */

#music {
    background-color: rgb(0, 0, 183);
    color: white;
}

.music-title {
    text-align: center;
    font-size: calc(1em + 1vw);
}

.cd {
    scroll-snap-align: center;

    text-align: center;

    font-size: 2rem;

    width: 50vw;
    min-height: 70vh;

    background-color: black;
    border-radius: 10px;
}

.cd-link {
    color: white;
}

.cd h1 {
    margin: 30px;
}

.cd-name {
    font-size: medium;
    margin: 0px;
}

.cd-text {
    margin: 0px 5%;
    font-size: small;
}

.cd-image {
    margin-top: 100px;
    min-width: 100px;
    display: flex;
    justify-content: center;
}