/* * {
    border: red solid 1px
} */

#adam {
    background-color: rgb(132, 0, 255);
    overflow-x: hidden;
    color: white;
}

.intro {
    grid-column: full;

    display: grid;
    grid-template-columns: 50% 50%;
}

.intro-photo {
    transform: skew(10deg, 10deg);
}

.intro-photo img {
    width: 100%;
}

.intro-text {
    transform: skew(-10deg, -10deg);
    background-color: blue;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-text a {
    color: lime;
}

.intro-text div {
    transform: skew(10deg, 10deg);
    max-width: min(70%, 65ch);
}

.website-info {
    background-color: rgb(187, 73, 143);
    text-align: center;
    display: flex;
    justify-content: center;

    transform: skew(-10deg, 3deg);

    min-width: 100%;

    color: white;
}

.website-info :first-child {
    transform: skew(10deg, -3deg);
    max-width: min(70%, 65ch);
}

@media only screen and (max-width: 800px) {

    .intro {
        grid-column: content;
        display: block;
    }

}