
#sound {
    color: black;
    background-color: aliceblue;
}

.sound-title {
    text-align: center;
    font-size: calc(1em + 1vw);
}

.vid {
    border: black 1px solid;

    margin: 10px 20px;
    
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 0.6fr 1.4fr; 
    gap: 0px 20px; 
    grid-template-areas: 
      "vid-gif vid-title"
      "vid-gif vid-text"; 
}


.vid-gif { 
    grid-area: vid-gif; 

    display: flex;
    align-items: center;
    justify-content: right;

    margin: 15px;
}

.vid-text { 
    grid-area: vid-text; 
}

.vid-text p {
    margin: 0px 10px;
}

.vid-title { 
    grid-area: vid-title; 
    line-height: 0.96;
}

.vid-link {
    color:black
}

.vid-title a {
    color: black;
}

@media only screen and (max-width: 600px) {
    .vid {
        display: block; 
        margin: 3px;
    }

    .vid-gif { 
        justify-content: center;

        margin: 5px;
    }

    .vid-text {
        margin: 10px;
        text-align: center;
    }
    
    .vid-title { 
        text-align: center;
    }

}
