.youtube-vid a {
    color: white;
    text-align: center;
}

.youtube-desc {
    margin-bottom: 60px;
}

/* https://css-generators.com/starburst-shape/ 
    300%, 7 spikes
*/

.youtube-vid img:nth-of-type(1) {
    clip-path: polygon(100.00% 50.00%,-175.24% -58.47%,81.17% 89.09%,-5.63% -193.73%,38.87% 98.75%,205.87% -145.46%,4.95% 71.69%,300.00% 50.00%,4.95% 28.31%,205.87% 245.46%,38.87% 1.25%,-5.63% 293.73%,81.17% 10.91%,-175.24% 158.47%);
}