{% extends 'base.html' %}


{% block id %}cd{% endblock %}

{% block content %}

<h2> cds</h2>
<p> i make all the packaging for my music, including the CDs.</p>
<div class="gallery">
    <div class="wrapper">
        <img class="item" loading="lazy" src="{{url_for('static', filename='photos/cd/front.webp')}}">
        <img class="item" loading="lazy" src="{{url_for('static', filename='photos/cd/inside.webp')}}">
        <img class="item" loading="lazy" src="{{url_for('static', filename='photos/cd/back.webp')}}">
    </div>
</div>

{% endblock %}