{% extends 'base.html' %}


{% block id %}graphic{% endblock %}

{% block content %}

<svg viewbox = "0 0 190 20" style="width: 100%">
    <text 
        x="0" 
        y="15"
        fill="white"
        font-weight="bold">
        ★graphic design★</text>
</svg>

<div class="gallery">
    <div class="wrapper">
        <img class="item" loading="lazy" width="400" height="565" src="{{url_for('static', filename='photos/posters/100 gecs2.webp')}}">
        <img class="item" loading="lazy" src="{{url_for('static', filename='photos/posters/FBM.webp')}}">
        <img class="item" loading="lazy" src="{{url_for('static', filename='photos/posters/draft1.webp')}}">
        <div class="item item-box"> <p>Find me on <a style="color: lime;" href="https://www.instagram.com/dinhvudesigns">instagram</a> for all my designs</p></div>
        <img class="item" loading="lazy" src="{{url_for('static', filename='photos/posters/end of year 2.webp')}}">
        <img class="item" loading="lazy" src="{{url_for('static', filename='photos/posters/LARAJIMinsta.webp')}}">
        <img class="item" loading="lazy" src="{{url_for('static', filename='photos/posters/tomatoes.webp')}}">
    </div>
</div>

<h2> my beloved sports posters</h2>
<p> including world cup matches, and a fixture of my mixed volley ball team, the beautiful girls</p>
<div class="gallery reverse">
    <div class="wrapper">
        <img class="item" loading="lazy" width="400" height="565" src="{{url_for('static', filename='photos/posters/sweden vs australia 2.webp')}}">
        <img class="item" loading="lazy" src="{{url_for('static', filename='photos/posters/mixed vball.webp')}}">
        <img class="item" loading="lazy" src="{{url_for('static', filename='photos/posters/eng vs spain.webp')}}">
    </div>
</div>

<h1 class="seperator">★★★</h1>

<h2> battle of the bands 2023</h2>
<p> for whitehorse council's yearly battle of the bands event. poster and instagram graphics </p>
<img class="full" style="width: 100%;" loading="lazy" src="{{url_for('static', filename='photos/whitehorse/portrait.webp')}}">

<div class="gallery">
    <div class="wrapper">
        <img class="item" loading="lazy" width="400" height="400" src="{{url_for('static', filename='photos/whitehorse/0.webp')}}">
        <img class="item" loading="lazy" src="{{url_for('static', filename='photos/whitehorse/1.webp')}}">
        <img class="item" loading="lazy" src="{{url_for('static', filename='photos/whitehorse/2.webp')}}">
        <img class="item" loading="lazy" src="{{url_for('static', filename='photos/whitehorse/3.webp')}}">
    </div>
</div>
<h1 class="seperator">★★★</h1>

{% endblock %}

