{% extends 'base.html' %}


{% block id %}graphic2{% endblock %}

{% block content %}
<img class="feature" style="width: 100%;" loading="lazy" src="{{url_for('static', filename='photos/median/median-banner.webp')}}">

<div class="gallery">
    <div class="wrapper">
        <img class="item" loading="lazy" width="400" height="565" src="{{url_for('static', filename='photos/median/medianposter1.webp')}}">
        <img class="item" loading="lazy" src="{{url_for('static', filename='photos/median/medianposter3.webp')}}">
    </div>
</div>
{% endblock %}