<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adam Dinh-Vu</title>
    <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='layout.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='profile.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='sound.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='music.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='graphic.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='youtube.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='cd.css')}}">
    <link rel="icon", type="image/x-icon" href="{{url_for('static',filename='photos/favicon.ico')}}">
    <script src="https://kit.fontawesome.com/28e976a90e.js" crossorigin="anonymous"></script>
</head>
<body>
    <section id="index">
        <div class="marquee">
            <ul class="marquee-content">
                <li>WELCOME TO ADAM'S WEBSITE! I HOPE YOU ENJOY YOUR STAY.</li>
                <li>THE DOG'S NAME IS SIMON</li>
                <li>IT FEATURES THE WORK OF DESIGNER ADAM DINH-VU, A TALENTED MELBOURNE BASED VISUAL DESIGNER.</li>
                <li>HE IS ALSO A SKILLED MUSICIAN, SOUND DESIGNER, YOUTUBER, AND WRITER.</li>
            </ul> 
            <ul class="marquee-content" aria-hidden="true">
                <li>WELCOME TO ADAM'S WEBSITE! I HOPE YOU ENJOY YOUR STAY.</li>
                <li>THE DOG'S NAME IS SIMON</li>
                <li>IT FEATURES THE WORK OF DESIGNER ADAM DINH-VU, A TALENTED MELBOURNE BASED VISUAL DESIGNER.</li>
                <li>HE IS ALSO A SKILLED MUSICIAN, SOUND DESIGNER, YOUTUBER, AND WRITER.</li>
            </ul>
        </div>
        
        <div class="index-grid">
            <div class="logo index-grid-item" >

                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 405.66 294.41"><defs><style>.d{fill:#8dc63f;}.d,.e,.f{stroke-width:0px;}.e{fill:#fff;}.f{fill:#eb2e5e;}</style></defs><g id="c"><path class="f" d="m0,111.33c0-.55,0-1.1,0-1.65,2.04-.02,4.08-.06,6.12-.07,46.22-.29,92.45-.57,138.67-.87,2.14-.01,4.28-.2,6.26-.3.66-1.06,1.17-1.71,1.51-2.45,8.98-19.56,17.9-39.15,26.93-58.69,7.31-15.8,14.75-31.54,22.13-47.31.54,0,1.09,0,1.63,0,2.99,6,6.12,11.94,8.93,18.03,11.85,25.61,23.61,51.26,35.42,76.9,2.17,4.71,4.39,9.39,6.64,14.2,2.16.1,4.04.26,5.92.27,48.51.11,97.01.2,145.52.3v1.65c-1.84.87-3.76,1.62-5.52,2.63-37.91,21.86-75.81,43.74-113.7,65.65-1.84,1.06-3.54,2.37-5.42,3.64.59,1.59.96,2.75,1.45,3.86,7.38,16.83,14.75,33.67,22.16,50.48,8.35,18.95,16.74,37.88,25.12,56.82h-2.45c-1.18-.68-2.34-1.38-3.54-2.02-27.38-14.64-54.75-29.28-82.14-43.91-11.53-6.16-23.1-12.24-34.6-18.46-2.78-1.5-5.34-1.75-8.06-.06-1.27.79-2.65,1.39-3.97,2.1-31.04,16.75-62.07,33.5-93.12,50.24-7.55,4.07-15.13,8.08-22.69,12.11h-2.45c.69-1.79,1.31-3.61,2.09-5.36,12.68-28.69,25.38-57.37,38.08-86.05,2.82-6.36,5.63-12.72,8.58-19.37-1.4-.91-2.48-1.69-3.62-2.35-33.59-19.43-67.18-38.88-100.8-58.26C14.09,119,7.02,115.22,0,111.33Z"/><polygon class="d" points="241.38 63.06 246.12 76.39 283.15 79.06 289.38 107.5 184.19 214.17 103.89 217.13 114.56 194.91 94.12 179.8 82.56 204.39 97.67 229.58 190.41 232.54 305.97 108.99 303.3 73.13 241.38 63.06"/><path class="e" d="m105.94,105.75l-12.48-1.98,29.74-57.09,13.67,2.17,10.38,63.45-12.86-2.04-1.65-13-20.91-3.32-5.9,11.8Zm10.71-21.72l14.44,2.29-3.26-24.99-.15-.02-11.03,22.72Z"/><path class="e" d="m184.33,119.13l-10.82-1.72.89-5.62-.15-.02c-3.26,4.14-7.68,5.76-13.25,4.88-5.55-.88-9.52-3.77-11.93-8.66s-3.04-10.95-1.89-18.17,3.64-12.43,7.56-16.04,8.41-5.01,13.5-4.21c5.39.86,9.08,3.82,11.06,8.9l.15.02,3.4-21.41,11.05,1.75-9.57,60.29Zm-25.93-26.69c-.62,3.94-.33,7.31.88,10.1s3.22,4.42,6.02,4.87c3.11.49,5.7-.29,7.78-2.36,2.08-2.07,3.43-5.04,4.04-8.92.75-4.76.53-8.47-.68-11.12-1.21-2.66-3.38-4.24-6.51-4.73-2.95-.47-5.44.37-7.47,2.52-2.02,2.15-3.38,5.36-4.06,9.66Z"/><path class="e" d="m226.23,117.58c-.33,2.05-.4,3.69-.23,4.9s.69,2.04,1.55,2.45l-.28,1.76-11.82-1.88c-.27-1.59-.35-3.41-.24-5.46-4.28,3.75-9.29,5.17-15.05,4.26-3.98-.63-7-2.32-9.05-5.05s-2.76-6.1-2.13-10.09,2.17-6.82,4.68-8.97c2.51-2.15,5.93-3.22,10.24-3.21l10.57.04c1.45,0,2.53-.25,3.24-.77.71-.52,1.15-1.25,1.3-2.21.27-1.72-.11-3.12-1.15-4.2s-2.78-1.81-5.22-2.19c-2.54-.4-4.47-.21-5.8.59-1.32.8-2.3,2.28-2.94,4.45l-10.67-1.69c1.4-5.36,3.77-9.04,7.11-11.07,3.33-2.02,8.22-2.52,14.67-1.5,5.19.82,9.16,2.59,11.91,5.3,2.76,2.71,3.8,6.15,3.14,10.34l-3.84,24.2Zm-8.73-14.63c-1.52.8-4.29,1.18-8.32,1.16-3.36-.03-5.64.42-6.82,1.33s-1.92,2.27-2.2,4.04.04,3.2.98,4.28,2.15,1.73,3.64,1.96c2.82.45,5.4,0,7.74-1.36,2.33-1.35,3.7-3.29,4.1-5.8l.89-5.62Z"/><path class="e" d="m290.38,136.54l-11.05-1.75,4.34-27.35c.41-2.6.26-4.76-.47-6.49s-2.18-2.76-4.36-3.11-4.06.1-5.62,1.34c-1.56,1.24-2.58,3.32-3.04,6.24l-4.32,27.23-11.05-1.75,4.43-27.89c.44-2.79.24-4.92-.61-6.38s-2.43-2.38-4.74-2.75-4.15.09-5.51,1.38-2.27,3.37-2.73,6.27l-4.32,27.23-11.05-1.75,7.09-44.7,10.59,1.68-1.04,6.56.15.02c3.28-4.75,7.74-6.68,13.39-5.78,5.13.81,8.56,3.8,10.27,8.94,3.55-4.31,7.67-6.1,12.34-5.36,4.31.68,7.62,2.55,9.91,5.59s3.07,6.93,2.32,11.66l-4.91,30.92Z"/><path class="e" d="m50.68,151.35l26.27-3.81c8.04-1.17,14.49.75,19.35,5.75s7.94,12.01,9.26,21.05c1.45,9.99.47,18.35-2.95,25.1-3.42,6.74-9.05,10.69-16.91,11.83l-25.79,3.74-9.24-63.65Zm19.83,50.88l12.1-1.76c4.26-.62,7.31-3.01,9.13-7.16s2.25-9.55,1.29-16.19-2.83-11.78-5.5-14.81-6.25-4.22-10.73-3.57l-12.35,1.79,6.05,41.7Z"/><path class="e" d="m115.33,148.84l-11.62,1.69-1.67-11.52,11.62-1.69,1.67,11.52Zm.81,5.59l6.85,47.2-11.62,1.69-6.85-47.2,11.62-1.69Z"/><path class="e" d="m168.54,194.18l-11.62,1.69-4.25-29.31c-.4-2.74-1.29-4.79-2.67-6.13s-3.42-1.82-6.12-1.43-4.85,1.7-6.22,3.89-1.8,4.97-1.31,8.35l3.93,27.06-11.62,1.69-6.85-47.2,11.13-1.62,1.01,6.93.16-.02c1.99-5.83,5.98-9.18,11.98-10.05,4.51-.65,8.4.19,11.69,2.53s5.29,6,6.02,11l4.74,32.65Z"/><path class="e" d="m211.51,186.84l-11.62,1.69-4.25-29.31c-.42-2.89-1.35-4.96-2.78-6.23s-3.44-1.71-6-1.34c-2.89.42-4.98,1.77-6.27,4.05s-1.71,5.01-1.25,8.18l3.93,27.06-11.62,1.69-9.24-63.65,11.62-1.69,3.26,22.47.16-.02c1.95-5.2,5.9-8.24,11.86-9.11,4.59-.67,8.47.24,11.66,2.71,3.18,2.47,5.12,6.09,5.81,10.85l4.74,32.65Z"/><path class="e" d="m247.48,155.14h-20.74v-9.33h20.74v9.33Z"/><path class="e" d="m298.19,152.21l14.12,4.95-44.03,54.7-12.92-4.53-.05-70.16,14.61,5.12-2.66,52.23.18.06,30.76-42.37Z"/><path class="e" d="m327.98,235.61l-12.13-4.25,2.29-6.54-.18-.06c-5.03,4.06-10.84,4.93-17.42,2.62-5.1-1.79-8.61-4.64-10.52-8.56s-1.88-8.68.09-14.28l10.68-30.47,12.7,4.45-10.09,28.76c-1.03,2.95-1.08,5.36-.15,7.23.93,1.87,2.73,3.27,5.38,4.21,2.86,1,5.53.91,8-.28,2.47-1.19,4.3-3.47,5.48-6.85l9.38-26.76,12.7,4.45-16.24,46.32Z"/></g></svg>
            </div>

            <div class="links index-grid-item">
                <div>
                    <h2> the <a href="#graphic">graphic designer</a></h2>
                    <h2> the <a href="#sound">sound designer</a></h2>
                    <h2> the <a href="#youtube">content creator</a></h2>
                    <h2 style="text-align: right; margin-right: 140px;"><a href="#adam">about me</a></h2>
                </div>
            </div>
        </div>

        <div class="dog-zone">  
            <div id="petmydog" class="draggable">
                <h3>pet my dog!</h3>
            </div>
            
            <div style="bottom: 100px; right:30%;" class="draggable" >
                <img src="{{url_for('static', filename='photos/dog.webp')}}" id="simon" draggable="false" >
            </div>
        </div>
    </section>

    <script>
        window.dog = "{{url_for('static', filename='photos/dog.webp')}}"
        window.woof = "{{url_for('static', filename='photos/woof.webp')}}"
    </script>

</body>
</html>

