{% extends 'base.html' %}

{% block id %}music{% endblock %}

{% block content %}

    <div class="feature">
        <!-- <h1 class="music-title">★MUSIC★</h1> -->
        <svg viewbox = "0 0 100 18" style="width: 100%">
            <text 
                x="0" 
                y="15"
                fill="white"
                font-weight="bold">
                ★MUSIC★</text>
        </svg>
    </div>

    <img 
        style="margin-inline: auto;"
        alt="Animated DJ"
        src="{{url_for('static', filename='photos/sound/dj.gif')}}">

    <div class="gallery">
        <div class="wrapper">
            
            
            <div class="cd">
                <a class="cd-image" href="https://anemia.bandcamp.com/album/life-in-jars"><img loading="lazy" src="{{url_for('static',filename='photos/sound/jars.gif')}}"></a>
                <h2 class="cd-name"> Life In Jars</h2>
                <p class="cd-text">2021</p>
                <a class="cd-link" href="https://open.spotify.com/album/5OiYwivCgNmTns9NYghvuc"><i class="fa-brands fa-spotify"></i></a>
                <a class="cd-link" href="https://anemia.bandcamp.com/album/life-in-jars"><i class="fa-brands fa-bandcamp"></i></a>
                <a class="cd-link" href="https://music.apple.com/us/album/life-in-jars-ep/1577303765"><i class="fa-brands fa-apple"></i></a>
            
                <p class="cd-text"><i>Featured on Bandcamp's New and Notable</i></p>
            </div>

            <div class="cd">
                <a class="cd-image" href="https://anemia.bandcamp.com/album/how-to-look-forward-to-the-apocalypse"><img loading="lazy" src="{{url_for('static',filename='photos/sound/apoc.gif')}}"></a>
                <h2 class="cd-name"> How to Look Foward to the Apoc​alypse</h2>
                <p class="cd-text">2022</p>
                <a class="cd-link" href="https://open.spotify.com/album/2oQ04Uis4mFgkF371qCXXC"><i class="fa-brands fa-spotify"></i></a>
                <a class="cd-link" href="https://anemia.bandcamp.com/album/how-to-look-forward-to-the-apocalypse"><i class="fa-brands fa-bandcamp"></i></a>
                <a class="cd-link" href="https://music.apple.com/us/album/how-to-look-forward-to-the-apocalypse/1611812299"><i class="fa-brands fa-apple"></i></a>
            </div>

            <div class="cd">
                <a class="cd-image" href="https://anemia.bandcamp.com/album/between-me-you"><img loading="lazy" src="{{url_for('static',filename='photos/sound/bmay.gif')}}"></a>
                <h2 class="cd-name">Between Me & You</h2>
                <p class="cd-text">2023</p>
                <a class="cd-link" href="https://open.spotify.com/album/6OlgFi7ICRVw2CYFkf7Urn"><i class="fa-brands fa-spotify"></i></a>
                <a class="cd-link" href="https://anemia.bandcamp.com/album/between-me-you"><i class="fa-brands fa-bandcamp"></i></a>
                <a class="cd-link" href="https://music.apple.com/us/album/between-me-you-ep/1688895997"><i class="fa-brands fa-apple"></i></a>
            </div>
        </div>
    </div>

{% endblock %}