<!-- 
    UNUSED
    TODO: update nav to use a seperate htmlfile    

<nav>
    <ul>
        <li class=" nav-item" style=>

            <a href='#{{idname}}'>{{display}}</a>
        </li>
    </ul>
</nav> -->