{% extends 'base.html' %}

{% block id %}adam{% endblock %}

{% block content %}
    <div class="intro">
        
        <div class="intro-photo">
            <img loading="lazy" src="{{url_for('static', filename='photos/kkb.jpg')}}">
        </div>
        
        
        <div class="intro-text">
            <div>
                <p>
                    My name is Adam Dinh-Vu, I'm a Melbourne based designer. My primary discipline is <a href="https://www.instagram.com/dinhvudesigns/">graphic design</a>, but I love all art that is unapologetic.  My skills are numerous and ever expanding. I have worked <a href="#sound">extensively in sound</a>, with my work displayed in Melbourne’s Capitol Theatre. I have also collaborated on scores with animators, and released music as Anemia. 
                </p>
                <p>
                    If what you make is unique, <a href="#contact">then I’d love to get in touch.</a>
                </p>
            </div>
        </div>
    </div>

    <div class="website-info feature">
        <p>This website is a Flask web app that I coded in Python, with vanilla CSS, and JS. I'm a believer that the web has become less fun as everyone now needs a professional quality website. I want to show that you can code a website yourself that looks just as good as a WYSIWYG page, with even more personality. </p>
    </div>

    <div class="links" id="contact">
        <ul class="fa-ul">
            <li>
                <h2><span class="fa-li"><i class="fa-solid fa-at"></i></span>
                    <a href="https://www.instagram.com/dinhvudesigns">instagram</a></h2>
            </li>
            <li>
                <h2><span class="fa-li"><i class="fa-solid fa-envelope"></i></span>
                    <a onclick="reveal(this, 'adamdinhvu at gmail dot com')">email</a></h2>
            </li>
            <li>
                <h2><span class="fa-li"><i class="fa-solid fa-mobile-retro"></i></span>
                    <a onclick="reveal(this, '+61 434 989 757')">phone</a></h2>
            </li>
        </ul>
    </div>

    
{% endblock %}