{% extends 'base.html' %}

{% block id %}sound{% endblock %}

{% block content %}
        
    <div class="feature">
        <svg viewbox = "0 0 180 18" style="width: 100%">
            <text 
                x="0" 
                y="15"
                fill="black"
                font-weight="bold">
                ★SOUND DESIGN★</text>
        </svg>
        <!-- <h1 class="sound-title">★SOUND DESIGN★</h1> -->
    </div>


    <img 
        style="margin-inline: auto;"
        alt="Animated thinker statue"
        src="{{url_for('static', filename='photos/sound/thinker.gif')}}">

    <p>
        Some of the things I have done sound design for.
    </p>

    <div class="vids feature">
        <div class="vid">
            <div class="vid-gif"><a href="https://www.youtube.com/watch?v=QPz52Ze-gyU&"><img loading="lazy" src="{{url_for('static', filename='photos/video/tram.gif')}}"></a></div>
            <div class="vid-title"><a href="https://www.youtube.com/watch?v=QPz52Ze-gyU&"><h2>Isn't It Strange That Melbourne Has Trams?</h2></a></div>
            <div class="vid-text">
                <p>2023 <a class="vid-link" href="https://www.youtube.com/watch?v=QPz52Ze-gyU&"><i class="fa-brands fa-youtube"></i></a> </p>
                <p>credit: Narration, Research, Sound, Music</p>
            </div>
        </div>
        <div class="vid">
            <div class="vid-gif"><a href="https://www.youtube.com/watch?v=mKN4hAKu70I"><img loading="lazy" src="{{url_for('static', filename='photos/video/boisvert.gif')}}"></a></div>
            <div class="vid-title"><a href="https://www.youtube.com/watch?v=mKN4hAKu70I"><h2>Boisvert (but I redid the sound and music)</h2></a></div>
            <div class="vid-text">
                <p>2023 <a class="vid-link" href="https://www.youtube.com/watch?v=mKN4hAKu70I"><i class="fa-brands fa-youtube"></i></a> </p>
                <p>credit: Music</p>
                <p>Original animation by Boisvert</p>
            </div>
        </div>
        <div class="vid">
            <div class="vid-gif"><a href="https://www.youtube.com/watch?v=QOPbX-g8rdQ"><img loading="lazy" src="{{url_for('static', filename='photos/video/whale.gif')}}"></a></div>
            <div class="vid-title"><a href="https://www.youtube.com/watch?v=QOPbX-g8rdQ"><h2>Whale Video</h2></a></div>
            <div class="vid-text">
                <p>2023 <a class="vid-link" href="https://www.youtube.com/watch?v=QOPbX-g8rdQ"><i class="fa-brands fa-youtube"></i></a> </p>
                <p>credit: Music, Editing</p>
            </div>
        </div>
        <div class="vid">
            <div class="vid-gif"><a href="https://www.youtube.com/watch?v=eVh1kp2aano"><img loading="lazy" src="{{url_for('static', filename='photos/video/e.gif')}}"></a></div>
            <div class="vid-title"><a href="https://www.youtube.com/watch?v=eVh1kp2aano"><h2>lovelostjellyfish</h2></a></div>
            <div class="vid-text">
                <p>2021 <a class="vid-link" href="https://www.youtube.com/watch?v=eVh1kp2aano"><i class="fa-brands fa-youtube"></i></a> </p>
                <p>credit: Sound, Music, Animation</p>
            </div>
        </div>
    </div>
{% endblock %}