{% extends 'base.html' %}

{% block id %}youtube{% endblock %}

{% block content %}
    
    <div class="feature">
        <svg aria-labelledby="titleID descID" viewbox = "0 0 120 18" style="width: 100%">
            <title id="titleID">YouTube Logo</title>
            <desc id="descID">The YouTube logo with stars</desc>
            
            <text 
                x="0" 
                y="15"
                fill="black"
                font-weight="bold"
                letter-spacing="-1">
                Y<tspan fill="red">★</tspan>uT<tspan fill="red">★</tspan>be</text>
        </svg>
    </div>

    <div class="youtube-vid feature"
        style="background-color: blue;">
        <a class="feature" href="https://www.youtube.com/watch?v=-SkOABglzac">
            <img loading="lazy" style="width: 100%; aspect-ratio: 16 / 9;" src="{{url_for('static', filename='photos/video/thumbnails/flagvideo.png')}}">
            <h1>Why has nothing replaced the Australian flag??</h1>
        </a>
    </div>
    <div class="youtube-desc">
        <p>The Australian flag is the strange symbol of a strange country. Why then, hasn't something more appropriate come along to replace it. I break down 10 alternate flags and see if any of them are better than the Australian flag.</p>
    </div>

    <div class="youtube-vid feature"
        style="background-color: red;">
        <a class="feature" href="https://www.youtube.com/watch?v=QPz52Ze-gyU&">
            <img loading="lazy" style="width: 100%;" src="{{url_for('static', filename='photos/video/tram.gif')}}">
            <h1>Isn't it Strange that Melbourne has Trams?</h1>
        </a>
    </div>
    <div class="youtube-desc">
        <p>As Melburnians, we tend to take our tram network for granted - as if there is something about Melbourne that makes it especially well suited for trams. Most of us don't realise, however, just how close we were to losing our now iconic trams.</p>
    </div>

    

{% endblock %}